<div class="container">
  <div class="row mt-4">
    <div class="col-md-3 col-sm-3">
        <h4 class="text-center">商品一覧</h4>
        </div>
 <table class="table table-striped">
     <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜き価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
     </tr>
 <% @items.each do |item| %>
 <tr>
 <td><%= item.id %></td>
 <td><%= link_to item.name, admin_item_path(item) %></td>
 <td><%= item.price %></td>
 <td><%= item.genre_id %></td>
 </tr>
<%end%> 
</table>
         </div>
 </div>