<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'genre', genres: @genres %>
    </div>
    <div class="col-lg-9">
      <div class="container">
        <p class="h5 font-weight-bold text-center">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>

      <div>
        <h2>新着商品</h2>
      </div>

      <%= render 'public/items/items', items: @items %>

      <%=link_to items_path do %>
       <p class="text-right">全ての商品を見る　＞</p>
      <% end %>
    </div>
  </div>
</div>