@use '~bootstrap/scss/bootstrap';

.item_cd{
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

.btnsub{
  position: relative;
  display:inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    overflow: hidden;
}
