<div class="container">
  <div class="col-9">
    <div class="d-flex align-items-end m-2">
      <h2>
        <strong>商品一覧</strong>
      </h2>
    </div>
    <p>[全<%= Item.all.count %>件]</p>
  </div>
  <%= render 'items', items: @items %>
</div>
<div class="pagination d-flex justify-content-center mb-7">
    <%= paginate @items %>
  </div>
 