<footer class="bg-white text-dark pt-5 pb-4">
      <div class="container">
              <div class='row justify-content-center'>
                  <div class='mx-auto'>
            <p>Nagano.cake</p>
            </div>
          </div>
             
      </div>
    </footer>
  </body>
</html>