<footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
              <div class='row justify-content-center'>
                  <div class='mx-auto'>
            <p>Ngano.cake</p>
            </div>
          </div>
             
      </div>
    </footer>
  </body>
</html>