<footer class="bg-white text-dark pt-5 pb-4">
      <div class="container">
              <div class='row justify-content-center'>
                  <div class='mx-auto'>
                        <% if admin_signed_in? %>
                         <p> 管理者ログイン中...</p>
                          <% end %>
     
            <%= image_tag 'photo_1.png', size: '150x50' %>
            </div>
          </div>
　　　　　</div>
      </div>
    </footer>
  </body>
</html>